@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100dvh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

button#signUp {
    background-color: var(--main-color);
    color: #fff;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 407px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.sobre h1 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 24px;
}

.sobre h2 {
    font-weight: 600;
    font-size: 48px;
    color: #101828;
    padding-bottom: 60px;
}

.sobre p {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    height: 60px;
    width: 791px;
}

.metricas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.metricas div {
    height: 188px;
    width: 280px;
    margin: 20px;
}

.metricas h1 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 60px;
}

.metricas h2 {
    color: #101828;
    font-weight: 500;
    font-size: 18px;
}

.metricas p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
}